<app-transition></app-transition>
<app-header [title]="title" ></app-header>

<div>
    <h2>ngFor/ngIf</h2>
    <ul *ngIf="arr.length>0">
        <li *ngFor="let item of arr;let key=index">
            <div *ngIf="key==0" class="red">{{item.name}}- {{item.age}}</div>
            <div *ngIf="key!==0">{{item.name}}- {{item.age}}</div>
        </li>
    </ul>
    <img [src]="imgSrc" /><br />
    <h2>ngSwitch</h2>
    <div [ngSwitch]="orderStatus">
        <span *ngSwitchCase="1">已经支付</span>
        <span *ngSwitchCase="2">待支付</span>
        <span *ngSwitchCase="3">未完成</span>
        <span *ngSwitchCase="4">订单取消</span>
    </div>
    <h2>ngStyle/ngClass</h2>
    <span [ngClass]="{red:true}">ngClass</span>
    <span [ngClass]="{blue:flag}">通过flag改变class</span>

    <h2>管道</h2>
    <div>
        {{today | date: 'yyyy-MM-dd HH:mm:ss'}}
    </div>
    
    <h2>事件</h2>
    <button (click)="clickEvent()">执行事件</button>

    <h2>表单事件</h2>
    <input type="text" (keydown)="keyDown($event)" />

    <h2>双向数据绑定</h2>

    <input type="text" [(ngModel)]="keywords" />
    <p>{{keywords}}</p>
    
   
    
</div>

<app-form></app-form>
<app-todo></app-todo>
<app-search></app-search>
<app-dom #dom></app-dom>

<hr />
<button (click)="getDom()">获取子组件dom的方法</button>

<hr />

<app-child [msg]="msg" [run]="run" [home]="this" #child (outer)="runParent($event)"></app-child>

<hr />

<hr />
<button (click)="getchild()">父组件调用子组件方法</button>
<button (click)="getchildMsg()">父组件获取子组件数据</button>
<button (click)="runParent()">父组件获取子组件事件广播的数据</button>

<app-lifecircle></app-lifecircle>
<app-rxjs></app-rxjs>
<app-fetch></app-fetch>
<app-routers></app-routers>